node_modules/
dist/
coverage/
.nx/cache
.nx/workspace-data
*.tsbuildinfo
routeTree.gen.ts

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.local
!.env.example
!*.env.sops

~/.config/sops/age/keys.txt
*.age

.DS_Store
.idea/
