services:
  grafana:
    image: grafana/grafana:10.4.0
    restart: unless-stopped
    volumes:
      - /srv/wbs/observability/grafana:/etc/grafana/provisioning:ro
      - grafana-data:/var/lib/grafana
  loki:
    image: grafana/loki:3.0.0
    restart: unless-stopped
    volumes:
      - /srv/wbs/observability/loki.yml:/etc/loki/config.yml:ro
  promtail:
    image: grafana/promtail:3.0.0
    restart: unless-stopped
    volumes:
      - /srv/wbs/observability/promtail.yml:/etc/promtail/config.yml:ro
      - /var/log:/var/log:ro
  prometheus:
    image: prom/prometheus:v2.52.0
    restart: unless-stopped
    volumes:
      - /srv/wbs/observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus

volumes:
  grafana-data:
  prometheus-data:
