services:
  {{TIER}}-{{COLOR}}:
    image: {{IMAGE}}
    container_name: {{TIER}}-{{COLOR}}
    restart: unless-stopped
    networks:
      wbs-net:
        aliases:
          - {{TIER}}-{{COLOR}}
{{ENV_FILES}}{{VOLUMES}}
