etcd-snapshot-schedule-cron: "{{ puni_etcd_snapshot_cron }}"
etcd-snapshot-retention: {{ puni_etcd_snapshot_retention | int }}
etcd-snapshot-compress: true
etcd-s3: true
etcd-s3-endpoint: "{{ puni_etcd_s3_endpoint }}"
etcd-s3-bucket: "{{ puni_etcd_s3_bucket }}"
etcd-s3-region: "{{ puni_etcd_s3_region }}"
etcd-s3-folder: "{{ puni_cluster_id }}"
etcd-s3-access-key: "{{ puni_etcd_s3_access_key }}"
etcd-s3-secret-key: "{{ puni_etcd_s3_secret_key }}"
